
body{
font-family: Arial;
margin:0;
padding:0;
background: linear-gradient(120deg,#3498db,#8e44ad);
color:#333;
}
.container{
background:white;
max-width:800px;
margin:40px auto;
padding:20px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.3);
}
h1{
text-align:center;
color:#2c3e50;
}
input,select{
width:100%;
padding:10px;
margin:10px 0;
}
button{
padding:12px;
background:#27ae60;
color:white;
border:none;
width:100%;
font-size:16px;
cursor:pointer;
}
button:hover{
background:#219150;
}
.course-box{
text-align:center;
margin-top:20px;
}
.course-box img{
max-width:200px;
border-radius:10px;
}
.dashboard{
display:flex;
gap:20px;
flex-wrap:wrap;
}
.card{
background:white;
padding:20px;
border-radius:10px;
flex:1;
min-width:200px;
box-shadow:0 0 5px rgba(0,0,0,0.3);
}
